<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czj.springboot.dao.CustomerMapper">

    <resultMap id="CustomerResultMap" type="com.czj.springboot.model.Customer">
        <id property="id" column="id"/>
        <result property="storeId" column="store_id"/>
        <result property="storeCode" column="store_code"/>
        <result property="storeName" column="store_name"/>
        <result property="customerCode" column="customer_code"/>
        <result property="customerTagId" column="customer_tag_id"/>
        <result property="expiredPoints" column="expired_points"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createDateTime" column="create_date_time"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="modifiedDateTime" column="modified_date_time"/>
    </resultMap>
    <sql id="param">
        <where>
            <if test="param != null and param.id != null">
                AND customer_tag_id = #{param.id}
            </if>
        </where>
    </sql>
    <select id="findCustomer" resultMap="CustomerResultMap">
        SELECT *
        FROM fr_customer
        <include refid="param" />
        order by store_name
    </select>
    <select id="selectAll" resultType="com.czj.springboot.model.Category">
        select * from category
    </select>

</mapper>
